:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* font-size: 2.91vw; */
    font-size: 3vw;
    line-height: 4.2vw;
    background: #9279ca;
    color:#fff;
}

strong {
    font-weight: 900;
}

section {
    padding: 0.7rem;
    max-width: 740px;
    min-width: 350px;
    box-sizing: border-box;
    margin: 0 auto;
}

header {
    padding: 0.6rem;
    margin: 1rem 0;
    position: relative;
}

header img {
    display: block;
    margin: 0 auto;
    width: 72vw;
    box-sizing: border-box;
}
header h2 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.97);
    color: #3f3b38;
    margin: 0;
    padding: 5px 10px;
    font-size: 3.4vw;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    min-width: 20vw;
}

header h2:first-of-type {
    left: 0;
    top: 0;
}

header h2:last-of-type {
    right: 0;
    bottom: 1.4rem;
}

main {
    box-sizing: border-box;
    padding: 0.6rem 0.75rem;
    background-color: rgba(255, 255, 255, 0.299);
}

main p:first-child { margin-top: 0 !important; }
main p:last-child { margin-bottom: 0 !important; }

@media (min-width: 480px) {
    body {
        font-size: 0.9rem;
        line-height: 1.3rem;
    }
}

@media (min-width: 576px) {
    body {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    header h2 {
        padding: 5px 16px;
        font-size: 1rem;
        min-width: 130px;
    }
}

@media (min-width: 680px) {
    body {
        font-size: 1.1rem;
        line-height: 1.7rem;
    }

    header img {
        width: 77%;
    }

    header h2 {
        padding: 8px 16px;
        font-size: 1.1rem;
        min-width: 160px;
    }

    header h2:first-of-type {
        left: 0;
        top: 0;
    }
}


